*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--app-font-family);
  max-width: 1024px;
}

/* Remove Firefox (Android) border radius on buttons */
button {
  border-radius: 0;
}

/* Remove Firefox (Android) dotted border on focus */
button::-moz-focus-inner {
  border: 0;
}


.app {
  padding: 2em;
  color: var(--color1);
}

.app__title {
  margin-top: 0;
  margin-bottom: 0.67em;
}

.app__input-container {
  margin-bottom: 25px;
}

.app__output-container {
}


label {
  font-weight: 500;
  color: inherit;
}




.form {
  display: grid;
  grid-template-rows: 1fr;
  gap: 15px;
}
.form__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media (max-width: 700px) {
  .form__container {
    grid-template-columns: 1fr;
  }
}
.form__inputs {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 15px;
}
.form__input {
  display: grid;
  gap: 15px;
}
.form__datetimepicker {
}


.form label {
  display: inline-block;
  width: 35px;
  margin-right: 5px;
}
.form input {
  display: inline-block;
}
.form button {
}


/* Active input */
.form__inputs {
  position: relative;
}
.form__inputs::after {
  display: block;
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  border-left: 1px solid silver;
}

.form p {
}
.form p.active .active-input-highlighter {
  width: 100%;
  margin-left: 25px;
  border-top: 1px solid silver;
}
.form__inputs label,
.form__inputs input,
.form__inputs button {
  flex-shrink: 0;
}


button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  width: 100%;
  resize: vertical;
}

.form-control {
  color: var(--control-input-color);
  font-size: inherit;
  border-width: var(--control-input-border-width);
  border-style: solid;
  border-color: var(--control-input-border-color);
  border-radius: 0;
  background-color: var(--control-input-background-color);
}
.form-control:focus {
  border-color: var(--control-input-focus-border-color);
  outline: none;
}
.form-control:read-only {
  background-color: var(--control-input-readonly-background-color);
}


button {
  color: var(--control-input-color);
  border-width: var(--control-input-border-width);
  border-style: solid;
  border-color: var(--control-input-border-color);
  border-radius: 0;
  background-color: var(--control-input-background-color);
  padding: 0.1em 0.5em;
}
button:focus {
  border-color: var(--control-input-focus-border-color);
  outline: none;
}


.result-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  width: 100%;
}
@media (max-width: 700px) {
  .result-container {
    grid-template-columns: 1fr;
  }
}
