.result-stat-list {
  margin: 0;
  padding: 0;
}

.result-stat-list__item {
  display: flex;
}

.result-stat-list__label {
  margin-right: 0.5em;
}

.result-stat-list__value {
}


.result-stat-list__item_hidden {
  display: none;
}
